<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Formulario de usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Formunlario</h1>
    <form action="#" th:action="@{/resultado}" th:object="${newUser}" method="post">
        <p>Nombre: <input type="text" th:field="*{firstName}" /></p>
        <p>Apellido: <input type="text" th:field="*{lastName}" /></p>
        <p>Carnet: <input type="number" th:field="*{carnetNumber}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
